.plans-screen-plans {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
    transition: all 0.4s ease-in-out;
    &:hover{
        opacity: 1;
    }
    button{
        padding: 10px 20px;
        font-size: 1rem;
        color: #fff;
        background-color: #0e5002;
        font-weight: 600;
        border: none;
        &:hover{
            cursor: pointer;
        }
    }
}
.plans-screen-disabled {
    button{
        background-color: gray !important;
    }
}